html, body  {
	font-size: 10px;
}

.wrapper-content {
	max-width: 1440px;
	margin: 0 auto;
}

/* Menu */
header {
	display: flex;
	z-index: 5;

	height: 808px;
	 background-color: #eff0f2;
	 border: 1px solid red;
} 



/* Footer */
footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	height: 200px;
	background-color: #323232;
}
